# We're submitting this file for checkpoint 2

## Data preprocessing

Imports:

In [150]:
import numpy as np
import pandas as pd
import re
import matplotlib.pyplot as plt

Read csv into dataframe:

In [151]:
df = pd.read_csv("bike_dataset.csv")
df

,name,selling_price,year,seller_type,owner,km_driven,ex_showroom_price
0,Royal Enfield Classic 350,175000,2019,Individual,1st owner,350,NaN
1,Honda Dio,45000,2017,Individual,1st owner,5650,NaN
2,Royal Enfield Classic Gunmetal Grey,150000,2018,Individual,1st owner,12000,148114.0
3,Yamaha Fazer FI V 2.0 [2016-2018],65000,2015,Individual,1st owner,23000,89643.0
4,Yamaha SZ [2013-2014],20000,2011,Individual,2nd owner,21000,NaN
...,...,...,...,...,...,...,...
1056,Activa 3g,17000,2010,Individual,1st owner,500000,52000.0
1057,Honda CB twister,16000,2012,Individual,1st owner,33000,51000.0
1058,Bajaj Discover 125,15000,2013,Individual,2nd owner,35000,57000.0
1059,Honda CB Shine,12000,2009,Individual,1st owner,53000,58000.0
1060,Bajaj Pulsar 150,10000,2008,Individual,1st owner,92233,75000.0

Extract engine cubic capcity (CC) from motorcycle name to new column "CC". When unable to extract, fill with *NaN*:

In [152]:
def extract_cc(name):
  result = re.search(r'(\d{3})$', name)
  return int(result.group(0)) if result != None else pd.NA

df["CC"] = df["name"].apply(extract_cc)
df["CC"] = df["CC"].astype("Int64")
df

,name,selling_price,year,seller_type,owner,km_driven,ex_showroom_price,CC
0,Royal Enfield Classic 350,175000,2019,Individual,1st owner,350,NaN,350
1,Honda Dio,45000,2017,Individual,1st owner,5650,NaN,<NA>
2,Royal Enfield Classic Gunmetal Grey,150000,2018,Individual,1st owner,12000,148114.0,<NA>
3,Yamaha Fazer FI V 2.0 [2016-2018],65000,2015,Individual,1st owner,23000,89643.0,<NA>
4,Yamaha SZ [2013-2014],20000,2011,Individual,2nd owner,21000,NaN,<NA>
...,...,...,...,...,...,...,...,...
1056,Activa 3g,17000,2010,Individual,1st owner,500000,52000.0,<NA>
1057,Honda CB twister,16000,2012,Individual,1st owner,33000,51000.0,<NA>
1058,Bajaj Discover 125,15000,2013,Individual,2nd owner,35000,57000.0,125
1059,Honda CB Shine,12000,2009,Individual,1st owner,53000,58000.0,<NA>
1060,Bajaj Pulsar 150,10000,2008,Individual,1st owner,92233,75000.0,150

## Basic data exploration and summary statistics

Column types:

In [153]:
df.dtypes

name                  object
selling_price          int64
year                   int64
seller_type           object
owner                 object
km_driven              int64
ex_showroom_price    float64
CC                     Int64
dtype: object

Summary statistics:

In [154]:
df.describe(include="all")

,name,selling_price,year,seller_type,owner,km_driven,ex_showroom_price,CC
count,1061,1061.000000,1061.000000,1061,1061,1061.000000,6.260000e+02,344.0
unique,279,NaN,NaN,2,4,NaN,NaN,<NA>
top,Bajaj Pulsar 150,NaN,NaN,Individual,1st owner,NaN,NaN,<NA>
freq,41,NaN,NaN,1055,924,NaN,NaN,<NA>
mean,NaN,59638.151744,2013.867107,NaN,NaN,34359.833176,8.795871e+04,202.895349
std,NaN,56304.291973,4.301191,NaN,NaN,51623.152702,7.749659e+04,119.364696
min,NaN,5000.000000,1988.000000,NaN,NaN,350.000000,3.049000e+04,14.0
25%,NaN,28000.000000,2011.000000,NaN,NaN,13500.000000,5.485200e+04,125.0
50%,NaN,45000.000000,2015.000000,NaN,NaN,25000.000000,7.275250e+04,150.0
75%,NaN,70000.000000,2017.000000,NaN,NaN,43000.000000,8.703150e+04,220.0
max,NaN,760000.000000,2020.000000,NaN,NaN,880000.000000,1.278000e+06,750.0